requirements are stated below :


Python==3.8.0
asgiref==3.2.3
Django==3.0.3
mysqlclient==1.4.6
pytz==2019.3
sqlparse==0.3.0
virtualenv==16.7.9
html==5
css==3
bootstrap==4
jquery==3.4.1
pip==20.0.2
# database used
  mysql 
# software used to test on local server
  xaamp==3.2.4