<!-- for loading static files  -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- bootstrap cdn link-->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
  <!-- main css file  -->
  <link rel="stylesheet" href="{% static '/css/main.css' %}">
  
  <!-- title  -->
  <title>home</title>

</head>

<body >
  <!-- navbar  -->
      <header >
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          
          <!--home icon  -->
          <a class="navbar-brand" href=''>
            <img src="{% static 'images/download.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            Home
          </a>
          
          <!-- toggler  -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- navbar links  -->
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
              
              <!--checks if user is successfully loged in  -->
              {% if user.is_authenticated %}
              
              <!-- logout  -->
              <a class="nav-item nav-link" href="#">Hello {{user.username}}</a>
              <a class="nav-item nav-link" href="logout">logout</a>
              
              {% else %}

              <!-- sign up  -->
              <a class="nav-item nav-link" href="register">Sign Up</a>
              
              <!-- sign in  -->
              <a class="nav-item nav-link" href="login">Sign In</a>
              {% endif %}
            </div>
          </div>
        </nav>
      </header>
      
  
      
  
  <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>